<% provide(:title, "Partners Log in") %>
<h1>Partner Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: partners_login_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <br>
      
      <%= f.label :remember_me, class: "form-control" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this device/computer</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New Partner? <%= link_to "Sign up now!", partners_signup_path %></p>
  </div>
</div>