<% provide(:title, @campaign.name) %>

<p id="notice"><%= notice %></p>

<h4>Name: <%= @campaign.name %></h4>

<h4>Status: <%= @campaign.status %></h4>

<h4>Type: <%= @campaign.campaign_type %></h4>

<h4>Story: <%= @campaign.description %></h4>

<h4>Current Funding: ----- </h4>

<h4>Target Funding: <%= @campaign.target_funding %></h4>

<h4>Target Deadline: <%= @campaign.target_deadline %></h4>

<%= link_to 'Edit', edit_partner_campaign_path(@campaign) %> |
<%= link_to 'Back', partner_campaigns_path %>
